.project
.classpath
.settings
*.iml
*.ipr
*.iws
sqltorest.log*
target/**
src/main/resources/api.xml
src/main/resources/api.xml
src/main/resources/hibernate.properties
src/main/resources/*.hbm.xml
/target/
